@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body {
    background-color: rgb(77, 77, 77);
    color: white;
    display: flex;
    justify-content: center;
}

form {
    width: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    flex-direction: column;
}

.list {
    padding: 0;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 5px;
}

.inputcheck {
    margin-right: 10px;
}

.deletebtn {
    border: 1px red solid;
    background-color: transparent;
    color: red;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.deletebtn:hover {
    border: 1px solid white;
}